/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilos para el formulario de administración */
#menu-form {
    margin-top: 20px;
}

.menu-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-section input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.delete {
    background-color: #dc3545;
}

button.delete:hover {
    background-color: #c82333;
}

button.addDishBtn {
    display: block;
    width: 100%;
    background-color: #28a745;
}

button.addDishBtn:hover {
    background-color: #218838;
}

#addCategoryBtn {
    background-color: #17a2b8;
    display: block;
    width: 100%;
}

#addCategoryBtn:hover {
    background-color: #138496;
}

#save-button {
    background-color: #ffc107;
    display: block;
    width: 100%;
    margin-top: 20px;
}

#save-button:hover {
    background-color: #e0a800;
}
