body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.menu-section input[type="text"] {
    width: calc(100% - 100px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-item input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.menu-item input[type="text"]:last-child {
    margin-right: 0;
}

.menu-item .price {
    width: 80px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
}

button.delete {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.9;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-item-btn,
.add-category-btn {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.add-item-btn:hover,
.add-category-btn:hover {
    opacity: 0.9;
}

.add-item-btn:disabled,
.add-category-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.save-button {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
}

.save-button:hover {
    opacity: 0.9;
}

.admin-container {
    display: flex;
    justify-content: space-between;
}

.admin-form {
    flex: 3;
}

.admin-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

.admin-actions button {
    margin-bottom: 10px;
}

.category-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.category-buttons button {
    margin-right: 5px;
}

.menu-section .category-input {
    flex-grow: 1;
}
